/*
 * CSS Disclaimer:
 * Please note that some or all of the CSS code in this stylesheet have been
 * adapted or directly sourced from W3Schools.
 *
 * W3Schools n.d., CSS Dropdowns, W3Schools,
 *    viewed 17 May 2025, <https://www.w3schools.com/css/css_dropdowns.asp>.
 */


/* Style The Dropdown Button */
.dropbtn {
  background-color: #16423C;
  color: #FBFBFB;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FBFBFB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #16423C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style Dropdown Content On Hover */
.dropdown-content a:hover {background-color: #ADCDC8}

/* Display Dropdown On Hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4B827B;
}